# List Comprehension

## List Comprehension (составление списка)
 List Comprehension предлагает более короткий синтаксис, когда вы хотите создать новый список на основе значений существующего списка.

Пример:

На основе списка фруктов вам нужен новый список, содержащий только фрукты с буквой «а» в названии.

Без List Comprehension вам придется написать `for` оператор с условным оператором `if` внутри:

In [ ]:
fruits = ["яблоко", "банан", "вишня", "киви", "манго"]
newlist = []

for x in fruits:
  if "а" in x:
    newlist.append(x)

print(newlist)

['банан', 'манго']

С List Comprehension вы можете сделать все это с помощью всего одной строки кода:

In [ ]:
fruits = ["яблоко", "банан", "вишня", "киви", "манго"]

newlist = [x for x in fruits if "а" in x]

print(newlist)

Возвращаемое значение при  использовании List Comprehensive — новый список, при этом  старый список остается без изменений.

Условие похоже на фильтр , который принимает возвращает только те элементы, при которых значение логичекого выражения равно `True`.

In [ ]:
# В new_list добавьте только те значения, которые не являются «яблоко»:
new_list = [x for x in fruits if x != "яблоко"]
print(new_list)

Выражение `if x != "яблоко"`  будет возвращать `True` для всех элементов, кроме «яблока», в результате чего новый список будет содержать все фрукты, кроме «яблока».

Условие является необязательным и может быть опущено:

Без оператора `if` в список будет добавлены все элементы:

In [ ]:
new_list = [x for x in fruits]
print(new_list)


После оператора `in `может быть любой итерируемый объект, например, список, кортеж, набор и т. д. Вы можете использовать функцию `range()` для создания итерации:

In [ ]:
new_list = [x for x in range(10)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Принимать только числа меньше 5:
new_list = [x for x in range(10) if x < 5]
print(new_list)

[0, 1, 2, 3, 4]

Выражение является текущим элементом в итерации, но также и результатом, которым вы можете манипулировать до того, как он станет элементом списка в новом списке :

Установите значения в новом списке в верхний регистр:

In [ ]:
new_list = [x.upper() for x in fruits]
print(new_list)

['ЯБЛОКО', 'БАНАН', 'ВИШНЯ', 'КИВИ', 'МАНГО']

Установите для всех значений в новом списке значение «привет»:

In [ ]:
new_list = ['привет' for x in fruits]
print(new_list)

['привет', 'привет', 'привет', 'привет', 'привет']

Выражение также может содержать условия, но не как фильтр, а как способ управления результатом:

Вставить в новый список все элементы из заданного списка, но вместо «банан» записать «апельсин»:

In [ ]:
new_list = [x if x != "банан" else "апельсин" for x in fruits]
print(new_list)

#Задания

Задан список nums, используйте его для выполнения заданий, расположенных ниже

In [ ]:
nums = [4, 8, 15, 16, 23, 42]

###Задача 1. Создайте новый список с именем double_nums, умножив каждое число списка nums на 2

In [ ]:
nums = [4, 8, 15, 16, 23, 42]
double_nums = [el * 2 for el in nums]
print(double_nums)

[8, 16, 30, 32, 46, 84]

###Задача 2 Создайте список nums, состоящий из чисел от 0 до 10 (вклюяая 0 и 10) с помощью функции range. Создайте новый список с именем squares, который содержит квадрат каждого числа в списке num_range.

In [ ]:
num_range = range(11)
squares = [el ** 2 for el in num_range]
print(squares)

###Задача 3 Создайте новый список с именем add_ten, который добавляет 10 к каждому элементу в списке nums

In [ ]:
nums = [4, 8, 15, 16, 23, 42]
add_ten = [el + 10 for el in nums]
print(add_ten)

###Задача 4 Создайте новый список с именем divide_by_two, который содержит половину каждого элемента в списке nums. Убедитесь, что используете целочисленное деление

In [ ]:
nums = [4, 8, 15, 16, 23, 42]
divide_by_two = [el // 2 for el in nums]
print(divide_by_two)

###Задача 5. Создайте новый список с именем `parity` (четность), содержащий  1 или  0 для каждого элемента `nums`, если этот элемент был четным, новый список должен содержать 0. Если элемент был нечетным, новый список должен содержать 1.

In [ ]:
nums = [4, 8, 15, 16, 23, 42]
parity = [0 if el % 2 == 0 else 1 for el in nums]
print(parity)

###Задача 6. Создайте новый список с именем, greetings, в котором будет добавляться "Hello, "перед каждым именем в списке names. Используйте операцию конкатенации, слияния строк "+"

In [ ]:
names = ["Alice", "Bob", "Charlie", "Diana"]
greetings = ["Hello, " + name for name in names]
print(greetings)

### Задача 7. Создайте новый список с именем, `first_character`, который содержит первый символ из каждого имени в списке names. Чтобы получить символ из строки, можно использовать ее индекс, указав его в квадратных скобках. Индексация начинается с 0. Например: `str[3]` даст четвертый символ из строки str

In [ ]:
names = ["Alice", "Bob", "Charlie", "Diana"]
first_character = [name[0] for name in names]
print(first_character)

### Задача 8. Создайте новый список с именем `lengths`, который содержит размер каждого имени в списке имен names. Для того, чтобы получить длину строки можно использовать функцию len. Например: len(str)

In [ ]:
names = ["Alice", "Bob", "Charlie", "Diana"]
lengths = [len(name) for name in names]
print(lengths)

### Задача 9. Создайте новый список с именем opposite, который содержит противоположное логическое значение для каждого элемента в списке booleans. Используйте логическую операцию not

In [ ]:
booleans = [True, False, True]
opposite = [not value for value in booleans]
print(opposite)

### Задача 10. Создайте новый список с именем is_Jerry, в котором элементы должен быть логические значения True или False. True должно быть на таких позициях на которых в списке names записано имя Jerry. Используйте операцию сравнения "=="

In [ ]:
names = ["Alice", "Jerry", "Charlie", "Jerry", "Diana"]
is_Jerry = [name == "Jerry" for name in names]
print(is_Jerry)

###Задача 11. Задан список `temp_cel`, содержащий температуру воздуха, выраженную в градусах Цельсия. Создайте список `temp_far`, содержащий те же значения температуры воздуха, но выраженные в градусах Фаренгейта. Формула перевода $ F = (C * \frac{9}{5}) + 32 $, где C- температура в градусах Цельсия,  F - температура в градусах Фаренгейта

In [ ]:
temp_cel = [0, 20, 37, 100]
temp_far = [(C * 9/5) + 32 for C in temp_cel]
print(temp_far)